@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  background-color: #e4e4e4;    font-family: 'Raleway', sans-serif;
}

h1 {
  text-align: center;
    font-weight: 100;
}

#notes, .preview {
  margin: 0 auto;
  width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.note, .preview {
  background-color: tomato;
  border-radius: 8px;
  padding: 30px;
    
}

.preview {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: bisque;
}
.hide {
    display: none;
}

form {
  text-align: center;
}

input {
  width: 20%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    font-family: 'Raleway', sans serif;
}


input,
button {
  padding: 5px;
    width: 90px;
}

button {
  background-color: #ff9494;
  border: none;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: #fe2222;
    -webkit-transition: 1s ease-in;
    transition: 1s ease-in;
}

button:focus {
  outline: none;
}